
.c1 {
  color: #ff0000;
  border: 1px solid #ff0000;
}
.c2 {
  color: green;
  border: 1px solid green;
}
.c3 {
  color: orangered;
  border: 1px solid orangered;
}
.c4 {
  color: purple;
  border: 1px solid purple;
}
.c5 {
  color: yellow;
  border: 1px solid yellow;
}